

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              <h2 class="page-header">Manage Users <a href="new.html" class="btn btn-success">Add New</a></h2>
              <table class="table table-striped">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
                <tr>
                  <td>John Doe</td>
                  <td>johndoe@gmail.com</td>
                  <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
                </tr>
                <tr>
                  <td>Jane Doe</td>
                  <td>janedoe@yahoo.com</td>
                  <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
                </tr>
                <tr>
                  <td>Thomas Smith</td>
                  <td>tsmith@gmail.com</td>
                  <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>